<section class="todoapp">
	<header class="header">
    <h1>todos</h1>
    <form id="new-form">
      <input type="text" class="new-todo" />
    </form>
  </header>

  <section class="main">
    <ul class="todo-list">

    </ul>
  </section>
</section>


<section class="author">
 <p>A dead-simple <%= link_to "todoMVC", "http://todomvc.com" %> application by <%= link_to "Allen Coin", "https://www.linkedin.com/in/allencoin" %></p>
</section>
<!-- TODO: Find a way to load the scripts on just the pages that need it, like with paloma gem https://github.com/kbparagua/paloma -->
