<section class="todoapp">
	<header class="header">
    <h1>todos</h1>
    <form id="new-form">
      <input type="text" class="new-todo" />
    </form>
  </header>

  <section class="main">
    <ul class="todo-list">

    </ul>
  </section>
</section>

<!-- TODO: Find a way to load the scripts on just the pages that need it, like with paloma gem https://github.com/kbparagua/paloma -->